/* @font-face {
  font-family: 'MyFont';
  src: url('./webfont.woff2') format('woff2'),
       url('./webfont.woff') format('woff');
  font-size: 30px;
  font-style: normal;

} */
@font-face {
  font-family: 'MyFont';
  font-display: swap;
  src: url('webfont.eot'); /* IE9 */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('webfont.woff2') format('woff2'),
  url('webfont.woff') format('woff'), /* chrome、firefox */
  url('webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

.hello{
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png');
}